/* https://github.com/mojombo/tpw/blob/master/css/syntax.css */
.highlight  { background: #ffffff; }
.highlight .c { color: #999988; font-style: italic } /* Comment */
.highlight .err { color: #a61717; background-color: #e3d2d2 } /* Error */
.highlight .k { font-weight: bold } /* Keyword */
.highlight .o { font-weight: bold } /* Operator */
.highlight .cm { color: #999988; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #999999; font-weight: bold } /* Comment.Preproc */
.highlight .c1 { color: #999988; font-style: italic } /* Comment.Single */
.highlight .cs { color: #999999; font-weight: bold; font-style: italic } /* Comment.Special */
.highlight .gd { color: #000000; background-color: #ffdddd } /* Generic.Deleted */
.highlight .gd .x { color: #000000; background-color: #ffaaaa } /* Generic.Deleted.Specific */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: #aa0000 } /* Generic.Error */
.highlight .gh { color: #999999 } /* Generic.Heading */
.highlight .gi { color: #000000; background-color: #ddffdd } /* Generic.Inserted */
.highlight .gi .x { color: #000000; background-color: #aaffaa } /* Generic.Inserted.Specific */
.highlight .go { color: #888888 } /* Generic.Output */
.highlight .gp { color: #555555 } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #aaaaaa } /* Generic.Subheading */
.highlight .gt { color: #aa0000 } /* Generic.Traceback */
.highlight .kc { font-weight: bold } /* Keyword.Constant */
.highlight .kd { font-weight: bold } /* Keyword.Declaration */
.highlight .kp { font-weight: bold } /* Keyword.Pseudo */
.highlight .kr { font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #445588; font-weight: bold } /* Keyword.Type */
.highlight .m { color: #009999 } /* Literal.Number */
.highlight .s { color: #d14 } /* Literal.String */
.highlight .na { color: #008080 } /* Name.Attribute */
.highlight .nb { color: #0086B3 } /* Name.Builtin */
.highlight .nc { color: #445588; font-weight: bold } /* Name.Class */
.highlight .no { color: #008080 } /* Name.Constant */
.highlight .ni { color: #800080 } /* Name.Entity */
.highlight .ne { color: #990000; font-weight: bold } /* Name.Exception */
.highlight .nf { color: #990000; font-weight: bold } /* Name.Function */
.highlight .nn { color: #555555 } /* Name.Namespace */
.highlight .nt { color: #000080 } /* Name.Tag */
.highlight .nv { color: #008080 } /* Name.Variable */
.highlight .ow { font-weight: bold } /* Operator.Word */
.highlight .w { color: #bbbbbb } /* Text.Whitespace */
.highlight .mf { color: #009999 } /* Literal.Number.Float */
.highlight .mh { color: #009999 } /* Literal.Number.Hex */
.highlight .mi { color: #009999 } /* Literal.Number.Integer */
.highlight .mo { color: #009999 } /* Literal.Number.Oct */
.highlight .sb { color: #d14 } /* Literal.String.Backtick */
.highlight .sc { color: #d14 } /* Literal.String.Char */
.highlight .sd { color: #d14 } /* Literal.String.Doc */
.highlight .s2 { color: #d14 } /* Literal.String.Double */
.highlight .se { color: #d14 } /* Literal.String.Escape */
.highlight .sh { color: #d14 } /* Literal.String.Heredoc */
.highlight .si { color: #d14 } /* Literal.String.Interpol */
.highlight .sx { color: #d14 } /* Literal.String.Other */
.highlight .ss { color: #990073 } /* Literal.String.Symbol */
.highlight .bp { color: #999999 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #008080 } /* Name.Variable.Class */
.highlight .vg { color: #008080 } /* Name.Variable.Global */
.highlight .vi { color: #008080 } /* Name.Variable.Instance */
.highlight .il { color: #009999 } /* Literal.Number.Integer.Long */

.text-orange {
  color: #e36209; }

.text-purple {
  color: #6f42c1; }

.text-yellow {
  color: #f9c513; }

.bg-black { background-color: #1b1f23 !important; }

.border-transparent {
  border-color: transparent !important;
}

.border-hover-white:hover {
  border-color: #fff !important;
}

.btn-dark {
  border: 1px solid #586069;
  background: #24292e;
  color: #fff;
  fill: #fff;
}

.btn-dark:hover {
  fill: #fff;
}

.btn-light {
  border: 1px solid #fff;
  background: transparent;
  color: #fff;
  fill: #fff;
}

.btn-light:hover {
  border: 1px solid #fff;
  color: #0366d6;
  background-color: #fff;
  background-image: none;
}

.anim-box-hover {
  -webkit-transition: -webkit-transform 0.3s, -webkit-box-shadow 0.3s;
  transition: -webkit-transform 0.3s, -webkit-box-shadow 0.3s;
  transition: transform 0.3s, box-shadow 0.3s;
  transition: transform 0.3s, box-shadow 0.3s, -webkit-transform 0.3s, -webkit-box-shadow 0.3s;
}

.anim-box-hover:hover {
  -webkit-box-shadow: 0 1px 15px rgba(27, 31, 35, 0.15) !important;
          box-shadow: 0 1px 15px rgba(27, 31, 35, 0.15) !important;
  -webkit-transform: scale(1.025);
          transform: scale(1.025);
}

.search-dark {
  color: #fff;
  background-color: rgba(255,255,255,0.07);
  border: 1px ;
  border: 1px solid transparent;
}

.search-dark:focus,
.search-dark:active {
  border: 1px solid rgba(255,255,255,0.15);
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.search-dark::-webkit-input-placeholder {
  color: #fff !important;
}

.search-dark::-moz-placeholder {
  color: #fff !important;
}

.search-dark:-ms-input-placeholder {
  color: #fff !important;
}

.search-dark::-ms-input-placeholder {
  color: #fff !important;
}

.search-dark::placeholder {
  color: #fff !important;
}

.search-results {
  width: 100%;
  height: 92vh;
  padding-bottom: 128px;
  overflow: auto;
}

@media (min-width: 1012px) {
  .search-results {
    width: 0;
    min-width: 320px;
    height: auto;
    max-height: 240px;
    border-radius: 3px;
    border: 1px solid #e1e4e8;
    right: 0;
    padding-bottom: 0;
  }
}

.search-result {
  color: #24292e;
}

.search-result:focus,
.search-result.navigation-focus {
  color: #fff;
  background-color: #0366d6;
}

@media (min-width: 1012px) {

  .f-lg-5 {
    font-size: 14px !important;
  }
}

/* Specificity hack to override Details sass */
@media (min-width: 1012px) {
  .Details-lg-content--shown.Details-lg-content--shown.Details-lg-content--shown {
    display: block !important;
  }
}

@media (max-width: 1012px) {
  .anim-slide-in {
      -webkit-animation-name: slide-in;
              animation-name: slide-in;
      -webkit-animation-duration: 200ms;
              animation-duration: 200ms;
      -webkit-animation-fill-mode: forwards;
              animation-fill-mode: forwards;
      -webkit-animation-timing-function: ease-in-out;
              animation-timing-function: ease-in-out;
  }
}

@-webkit-keyframes slide-in {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slide-in {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.border-black {
  border-color: #444d56 !important; }

.border-thick {
  border-width: 5px !important; }

.custom-code-block .highlight {
  margin-bottom: 0;
}

.styleguide-example {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

/* To override .markdown-body CSS */
.markdown-body .anchor {
  float: none;
}

.styleguide-example h1,
.styleguide-example h2,
.styleguide-example h3,
.styleguide-example h4,
.styleguide-example h5,
.styleguide-example h6 {
  margin-top: 0;
  margin-bottom: 0;
}

.styleguide-example ul,
.styleguide-example ol,
.styleguide-example blockquote {
  margin-bottom: 0;
  padding-left: 0;
}

/* Grabbed from stylesheets/kcustom/styleguide/spacer-colors.scss */
.margin-orange {
  background-color: #f9cc9d;
}

.block-blue {
  background-color: #a0c5e8;
}

.padding-green {
  background-color: #c3deb7;
}

/* For toc */
.border-thick { border-width: 5px !important; }

/* Style guide banner heading */
.f000-light {
  font-size: 60px !important;
  font-weight: 300;
}

/* Allows you to view the last nav item without scrolling the main content */
.sidebar ul:first-child {
  padding-bottom: 120px;
}

@media (min-width: 340px) {
  .main-nav-select {
    font-size: 16px !important;
    font-weight: normal !important;
  }
}

@media (min-width: 768px) {
  .main-nav {
    height: 68px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
    left: 0;
    right: 0;
  }
}

.md-order-1 {
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
}

@media (min-width: 1012px) {
  .md-order-1 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.main-content {
  width: 100%;
}

@media (min-width: 1012px) {
  .main-content {
    max-width: 56em;
    top: 88px;
    left: 30%;
    -webkit-box-ordinal-group:2;
        -ms-flex-order:1;
            order:1;
  }
}

.sidebar {
  width: 100%;
  padding-top: 58px; /* Compensaates for nav on mobile */
}

@media (min-width: 1012px) {
  .sidebar {
    width: 24%;
    padding-top: 0;
    min-height: 100vh;
    min-width: 200px;
    max-width: 300px;
    top: 68;
    left: 0;
    position:-webkit-sticky;
    position: sticky;
  }
}

.octicon {
  display: inline-block;
  vertical-align: text-top;
  fill: currentColor;
}
