# MacOS
.DS_Store

# Sublime Text
app.sublime-project
app.sublime-workspace

# Storybook
.storybook-static-develop
.storybook-static-release

# Test
coverage

# NPM Papillon Ads
npm-debug.log
lerna-debug.log
package-lock.json
node_modules

# NPM Papillon Ads Components Package
packages/components/package-lock.json
packages/components/build
packages/components/node_modules

# NPM Papillon Ads CSS Package
packages/CSS/package-lock.json
packages/CSS/build
packages/CSS/node_modules
packages/CSS/src/primer

# NPM Papillon Ads Docs Package
packages/docs/src/asset/*
packages/docs/package-lock.json
packages/docs/build
packages/docs/node_modules

# NPM Papillon Ads Temp Package
packages/temp/src/asset/*
packages/temp/package-lock.json
packages/temp/build
packages/temp/node_modules

# NPM Papillon Ads Library Package
packages/library/package-lock.json
packages/library/build
packages/library/node_modules

# NPM Papillon Ads Temp Package
packages/temp/package-lock.json
packages/temp/build
packages/temp/node_modules
