{
  "extends": ["stylelint-config-standard", "stylelint-config-prettier"],
  "plugins": [
    "stylelint-order",
    "stylelint-prettier",
    "stylelint-scss",
  ],
  "rules": {
    "prettier/prettier": true
  }
}
