{
  "extends": ["stylelint-config-standard", "stylelint-config-prettier"],
  "plugins": [
    "stylelint-order",
    "stylelint-prettier",
    "stylelint-scss"
  ],
  "rules": {
    "alpha-value-notation": null,
    "at-rule-no-unknown": null,
    "color-function-notation": null,
    "declaration-empty-line-before": null,
    "keyframes-name-pattern": null,
    "prettier/prettier": true,
    "rule-empty-line-before": null,
    "selector-class-pattern": null
  }
}
