@import '~@papillonads/css/build/content/settings/colors';
@import '~@papillonads/css/build/content/settings/typography';
@import '~@papillonads/css/build/content/settings/dimensions';

.Note {
  padding: $spacing-s;
  padding-right: $spacing-l;
  margin: 0;
  //
  font-family: $font-stack-primary;
  font-weight: $font-weight-normal;
  line-height: $line-height-default;
  font-size: $font-size-m;
  color: $color-text-mid;
  display: flex;
  flex-direction: row;
}

.Note--primary {
  background-color: $color-ice-mid;
  border: 1px solid $color-ice-dark;
}
.Note--primary a {
  color: $color-primary;
}

.Note--negative {
  background-color: $color-coral-mid;
  border: 1px solid $color-coral-dark;
}
.Note--negative a {
  color: $color-negative;
}

.Note--positive {
  background-color: $color-mint-mid;
  border: 1px solid $color-mint-dark;
}
.Note--positive a {
  color: $color-positive;
}

.Note--warning {
  background: $color-peach-mid;
  border: 1px solid $color-peach-dark;
}

.Note--warning a {
  color: $color-warning;
}

.Note__title {
  font-weight: $font-weight-demi-bold;
}

.Note__icon {
  margin-right: $spacing-s;
  display: flex;
  margin-top: 1px;
}
