@import '../../index.scss';

.item {
  &:hover {
    cursor: pointer;
    user-select: none;
  }
}

.row {
  &:nth-of-type(odd) {
    background-color: $bg-blue-light;
  }
}

input[type='checkbox'] {
  &:hover {
    cursor: pointer;
    user-select: none;
  }
}

// custom-style
.flexGrid-inactive {
  @include inactive;
}
