@import '../colors/colors-semantic.scss';

$glow-primary: 0 0 7px $color-primary;
$glow-negative: 0 0 7px $color-negative;
$glow-positive: 0 0 7px $color-positive;
$glow-warning: 0 0 7px $color-warning;
