@import '~@papillonads/css/build/content/settings/colors';

.Icon {
  display: inline-block;
  fill: $color-blue-base;
}

.Icon--tiny {
  height: 16px;
  width: 16px;
}

.Icon--small {
  height: 18px;
  width: 18px;
}

.Icon--large {
  height: 36px;
  width: 36px;
}

.Icon--trimmed {
  width: auto;
}

.Icon--primary {
  fill: $color-primary;
}

.Icon--positive {
  fill: $color-positive;
}

.Icon--negative {
  fill: $color-negative;
}

.Icon--warning {
  fill: $color-warning;
}

.Icon--secondary {
  fill: $color-text-mid;
}

.Icon--muted {
  fill: $color-text-light;
}

.Icon--white {
  fill: $color-white;
}
