@import '~@papillonads/css/build/content/settings/colors';

.Illustration {
  display: inline-block;
  width: 39px;
  height: 39px;
}

.Illustration g,
.Illustration path {
  stroke: $color-text-light;
}
