@import '~@papillonads/css/build/content/settings/colors';
@import '~@papillonads/css/build/content/settings/typography';
@import '~@papillonads/css/build/content/settings/transitions';
@import '~@papillonads/css/build/content/settings/shadows';

.CopyButton {
  display: inline-block;
  position: relative;
}

.CopyButton__button {
  // composes: focus-outline--default from a11y.scss
  outline: none;
  // border: 1px solid $color-primary;
  box-shadow: $glow-primary;
  //
  height: calc(1rem * (40 / #{$font-base-default}));
  width: calc(1rem * (40 / #{$font-base-default}));
  border: 1px solid $color-element-mid;
  background: $color-element-light;
  flex-basis: 100%;
  transition: background $transition-duration-short $transition-easing-default;
  padding: 0;

  &:hover {
    cursor: pointer;
    background: $color-element-mid;
  }

  & > svg {
    margin-top: calc(1rem * (3 / #{$font-base-default}));
  }
}

.CopyButton__text {
  // composes: sr-only from helpers.scss
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  // Workaround for https://bugzilla.mozilla.org/show_bug.cgi?id=1241631
  word-wrap: normal;
  border: 0;
}

.CopyButton__TabFocusTrap {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
