@import '~@papillonads/css/build/content/settings/colors';
@import '~@papillonads/css/build/content/settings/typography';
@import '~@papillonads/css/build/content/settings/transitions';
@import '~@papillonads/css/build/content/settings/dimensions';

.EditorToolbarButton {
  display: inline-block;
  height: calc(1rem * (30 / #{$font-base-default}));
  width: calc(1rem * (30 / #{$font-base-default}));
  justify-content: center;
  border-radius: 2px;
  transition: background $transition-duration-short $transition-easing-default;

  &:hover,
  &:focus {
    background: $color-element-light;
  }
}

.EditorToolbarButton--is-active,
.EditorToolbarButton--is-active:hover,
.EditorToolbarButton--is-active:focus {
  background: $color-element-mid;
}
