/* stylelint-disable no-descending-specificity */
@import '~@papillonads/css/build/content/settings/colors';
@import '~@papillonads/css/build/content/settings/typography';
@import '~@papillonads/css/build/content/settings/transitions';
@import '~@papillonads/css/build/content/settings/shadows';

.IconButton {
  // composes: focus-outline--default from a11y.scss
  // outline: 1px solid $color-primary;

  border-radius: 2px;
  // box-shadow: $glow-primary;
  //

  display: inline-block;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0 1px;
  background: transparent;
}

.IconButton__inner {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.IconButton--disabled {
  opacity: 0.5;

  &:hover {
    cursor: not-allowed;
  }

  &.IconButton--primary:hover {
    & .IconButton__icon {
      fill: $color-blue-base;
    }

    color: $color-blue-base;
  }

  &.IconButton--positive:hover {
    & .IconButton__icon {
      fill: $color-green-base;
    }

    color: $color-green-base;
  }

  &.IconButton--negative:hover {
    & .IconButton__icon {
      fill: $color-red-base;
    }

    color: $color-red-base;
  }

  &.IconButton--secondary:hover {
    & .IconButton__icon {
      fill: $color-text-mid;
    }

    color: $color-text-mid;
  }

  &.IconButton--muted:hover {
    & .IconButton__icon {
      fill: $color-text-light;
    }

    color: $color-text-light;
  }
}

.IconButton__icon {
  transition: fill $transition-duration-short $transition-easing-default;
}

.IconButton:hover .IconButton__icon,
.IconButton:focus .IconButton__icon {
  fill: $color-text-dark;
}

.IconButton--primary .IconButton__icon {
  fill: $color-blue-base;
}

.IconButton--positive .IconButton__icon {
  fill: $color-green-base;
}

.IconButton--negative .IconButton__icon {
  fill: $color-red-base;
}

.IconButton--secondary .IconButton__icon {
  fill: $color-text-mid;
}

.IconButton--muted .IconButton__icon {
  fill: $color-text-light;
}

.IconButton--white .IconButton__icon {
  fill: $color-white;
}

.IconButton__label {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  // Workaround for https://bugzilla.mozilla.org/show_bug.cgi?id=1241631
  word-wrap: normal;
  border: 0;
}

.IconButton__dropdown {
  height: calc(1rem * (10 / #{$font-base-default}));
  width: calc(1rem * (10 / #{$font-base-default}));
  margin-left: calc(-1rem * (5 / #{$font-base-default})); /* Optical adjustment, to be revised */
}
/* stylelint-enable no-descending-specificity */
