@import '~@papillonads/css/build/content/settings/colors';
@import '~@papillonads/css/build/content/settings/typography';
@import '~@papillonads/css/build/content/settings/transitions';

.HelpText {
  display: block;
  margin: 0;
  font-family: $font-stack-primary;
  color: $color-text-light;
  font-size: $font-size-m;
  line-height: $line-height-default;
}
