@import '~@papillonads/css/build/primer/support/variables/misc.scss';
@import '~@papillonads/css/build/primer/support/variables/layout.scss';

.select {
  position: relative;
}

.select-menu {
  top: 100%;
  left: 0;
  z-index: 100;
  width: 160px;
  padding-top: $spacer-1;
  padding-bottom: $spacer-1;
  margin-top: 2px;
  list-style: none;
  background-color: $bg-white;
  background-clip: padding-box;
  border: $border;
  border-radius: $border-radius;
  box-shadow: $box-shadow-large;

  &::before,
  &::after {
    position: absolute;
    display: inline-block;
    content: '';
  }

  &::before {
    border: $spacer-2 $border-style transparent;
    border-bottom-color: $border-black-fade;
  }

  &::after {
    border: 7px $border-style transparent;
    border-bottom-color: $border-white;
  }

  > ul {
    list-style: none;
  }
}

.select-inactive {
  pointer-events: none;
  cursor: not-allowed;
  user-select: none;
  color: $gray-400 !important;
}
